# Set in Python
Notebook được thực hiện bởi Phạm Văn Hùng - N21DCCN035

#### Khởi tạo set bằng cú pháp `set = {}`

In [1]:
# create a set
animals = {"cat", "dog", "tiger"}

print(type(animals))
print(animals)

<class 'set'>
{'dog', 'tiger', 'cat'}

Set cũng hỗ trợ đa dạng các loại dữ liệu

In [2]:
# create a set
a_set = {"cat", 5, True, 40.0}

print(type(a_set))
print(a_set)

<class 'set'>
{40.0, True, 5, 'cat'}

Set sẽ không có nhân bản của phần tử, mỗi phần tử chỉ xuất hiện 1 lần

In [3]:
# No duplication
animals = {"cat", "dog", "tiger"}
print(animals)

animals.add("cat")
print(animals)

{'dog', 'tiger', 'cat'}
{'dog', 'tiger', 'cat'}

Sử dụng hàm copy để copy một set thay vì phải dùng thư viện `copy` như `tuple`

In [4]:
# copy
animals = {"cat", "dog", "tiger"}
print("Animals:", animals)

a_copy = animals.copy()
print("Copy:", a_copy)

Animals: {'dog', 'tiger', 'cat'}
Copy: {'dog', 'tiger', 'cat'}

Duyệt qua các phần tử trong `set` sử dụng vòng lặp `for`

In [5]:
# accessing items
animals = {"cat", "dog", "tiger"}
for animal in animals:
    print(animal)

dog
tiger
cat

`set` không hỗ trợ truy vấn chỉ mục (`index`) vì các phần tử trong set sắp xếp một cách ngẫu nhiên

In [6]:
# not support indexing
animals = {"cat", "dog", "tiger"}
print(animals[1])

TypeError: 'set' object is not subscriptable

#### Các phương thức cơ bản

Thêm một phần tử sử dụng phương thức `add()`

In [7]:
# add an item
animals = {"cat", "dog", "tiger"}
animals.add("bear")
print(animals)

{'dog', 'bear', 'tiger', 'cat'}

Cập nhật `set` với việc bổ sung từ set khác qua hàm `update()`

In [8]:
# insert a set to another set
animals = {"cat", "dog", "tiger"}
animals.update({"chicken","Duck"})
print(animals)

{'dog', 'cat', 'chicken', 'Duck', 'tiger'}

Gộp 2 set với nhau thông qua phương thức `union()`

In [9]:
set1 = {"cat", "dog"}
set2 = {"duck", "tiger"}

set3 = set1.union(set2)
print(set3)

{'duck', 'dog', 'tiger', 'cat'}

#### Loại bỏ phần tử trong set

Loại bỏ một phần tử sử dụng phương thức `remove()`. Nếu phần tử không tồn tại, ngoại lệ `KeyError` sẽ được thả ra

In [10]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.remove("dog")
print(animals)

{'tiger', 'cat'}

In [12]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.remove("lion")
print(animals)

KeyError: 'lion'

Thay vì dùng phương thức `remove()`, ta có thể dùng `discard()`. Vì khi không có phần tử trong set, `discard()` sẽ bỏ qua và không báo lỗi

In [13]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.discard("lion")
print(animals)

{'dog', 'tiger', 'cat'}

In [14]:
# remove an item
animals = {"cat", "dog", "tiger"}
animals.discard("tiger")
print(animals)

{'dog', 'cat'}

#### Set không chấp nhận kiểu dữ liệu có thể thay đổi (mutable)

In [15]:
a_list = [1, 2, 3]
a_set  = {"cat", a_list}
print(a_set)

TypeError: unhashable type: 'list'

Ở đây, list là kiểu mutable nên set sẽ không chấp nhận

#### Tìm các phần tử khác nhau trong set
Sử dụng phương thức `difference()` để tìm các phần tử khác nhau trong 2 set

In [16]:
# difference

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

Cập nhật các phần tử không có trong 1 set ở set còn lại bằng `difference_update()`

In [17]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

Phương thức `id()` lấy id của một đối tượng

In [18]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

print(id(set1))
set1.difference_update(set2)

print(set1)
print(id(set1))

135402304895712
{'banana', 'cherry'}
135402304895712

Ta thấy rằng id không thay đổi, tức là phương thức `difference_update(set2)` thực hiện trực tiếp trên `set1` với việc loại bỏ khỏi set1 những phần tử có trong `set2`

Phương thức `symmetric_difference()` trả về một tập hợp chứa các phần tử không phổ biến (không trùng nhau) giữa hai đối tượng. Nó tương đương với việc thực hiện phép toán(xor) trên hai tập hợp

In [19]:
# symmetric_difference

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'pineapple', 'banana', 'cherry'}

Phương thức `symmetric_difference_update()` thực hiện việc cập nhật set, bằng cách loại bỏ các phần tử chung và thêm vào các phần tử không trùng giữa hai tập hợp

In [20]:
# symmetric_difference_update

set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'pineapple', 'banana', 'cherry'}

#### AND, OR, XOR, SUBTRACTION

Phép AND(&) trong set trả về những phần tử trùng nhau

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 & set2)

{3}

Phép OR(|) lấy tất cả các phần tử thuộc các set

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 | set2)

{1, 2, 3, 4, 5}

Phép XOR(^) trả về những phần tử chỉ thuộc về 1 set nhưng không thuộc cả 2

In [23]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 ^ set2)

{1, 2, 4, 5}

SUBTRACTION(-) loại bỏ các phần tử xuất hiện trong set2 của set1. Tức là chỉ lấy các phần tử thuộc set1 nhưng không thuộc set2

In [24]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

print(set1 - set2)

{1, 2}

#### Set comprehension
Sử dụng set comprehension để tạo một set dựa trên một biểu thức và một vòng lặp

VD: tạo một set chứa bình phương các số từ 0 đến 9

In [26]:
# set comprehension

aSet = {i*i for i in range(10)}
print(aSet)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

#### Convert
Ta có thể chuyển đổi qua lại giữa các kiểu dữ liệu bằng cách ép kiểu

In [27]:
# convert from set to list
aSet = {1, 2, 3, 4, 5}

aList = list(aSet)
print(aList)
print(type(aList))

[1, 2, 3, 4, 5]
<class 'list'>

In [28]:
# convert from set to tuple
aSet = {1, 2, 3, 4, 5}

aTuple = tuple(aSet)
print(aTuple)
print(type(aTuple))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [29]:
# convert from list to set
aList = [1, 2, 3, 2, 1]

aSet = set(aList)
print(aSet)
print(type(aSet))

{1, 2, 3}
<class 'set'>

In [ ]:
# convert from tuple to set
aTuple = (1, 2, 3, 2, 1)

aSet = set(aTuple)
print(aSet)
print(type(aSet))

# Thao tác với file
Mở file: `open()`

Đọc nội dung: `read()`

Đóng file: `close()`

In [30]:
# kết nối với file
a_file = open('data.txt','r')

# read content
data = a_file.read()
print(data)

# Đóng kết nối với file
a_file.close()

Python is a high-level, interpreted, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected.  It supports multiple programming paradigms, including structured, object-oriented and functional programming.

Thay thế các dấu chấm (.) bằng dấu phẩy (,) qua hàm `replace()`

In [31]:
data = data.replace('.', '')
print(data)

Python is a high-level, interpreted, general-purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically-typed and garbage-collected  It supports multiple programming paradigms, including structured, object-oriented and functional programming

Thay thế dấu phẩy bằng dấu cách

In [32]:
data = data.replace(',', '')
print(data)

Python is a high-level interpreted general-purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically-typed and garbage-collected  It supports multiple programming paradigms including structured object-oriented and functional programming

Thay thế dấu gạch ngang bằng dấu cách

In [33]:
data = data.replace('-', ' ')
print(data)

Python is a high level interpreted general purpose programming language Its design philosophy emphasizes code readability with the use of significant indentation Python is dynamically typed and garbage collected  It supports multiple programming paradigms including structured object oriented and functional programming

Chuyển đổi chữ hoa sang chữ thường dùng `lower()`

In [34]:
data = data.lower()
print(data)

python is a high level interpreted general purpose programming language its design philosophy emphasizes code readability with the use of significant indentation python is dynamically typed and garbage collected  it supports multiple programming paradigms including structured object oriented and functional programming

Tách chuỗi thành list các chuỗi con, mặc định tách theo dấu cách

In [35]:
data = data.split()
print(data)
print(len(data))

['python', 'is', 'a', 'high', 'level', 'interpreted', 'general', 'purpose', 'programming', 'language', 'its', 'design', 'philosophy', 'emphasizes', 'code', 'readability', 'with', 'the', 'use', 'of', 'significant', 'indentation', 'python', 'is', 'dynamically', 'typed', 'and', 'garbage', 'collected', 'it', 'supports', 'multiple', 'programming', 'paradigms', 'including', 'structured', 'object', 'oriented', 'and', 'functional', 'programming']
41

Trả về các chuỗi duy nhất, các chuỗi lặp lại sẽ chỉ xuất hiện 1 lần

In [36]:
data = set(data)
print(data)
print(len(data))

{'code', 'including', 'python', 'a', 'general', 'high', 'language', 'readability', 'paradigms', 'design', 'use', 'functional', 'garbage', 'its', 'philosophy', 'of', 'emphasizes', 'multiple', 'with', 'dynamically', 'programming', 'level', 'significant', 'the', 'structured', 'collected', 'purpose', 'is', 'typed', 'supports', 'indentation', 'it', 'oriented', 'object', 'and', 'interpreted'}
36

Khởi tạo enumerate và in ra index cùng giá trị của nó

enumerate cung cấp một bộ đếm vào iterable và trả chúng dưới dạng đối tượng liệt kê

In [37]:
for index, value in enumerate(data):
    print(index, value)

0 code
1 including
2 python
3 a
4 general
5 high
6 language
7 readability
8 paradigms
9 design
10 use
11 functional
12 garbage
13 its
14 philosophy
15 of
16 emphasizes
17 multiple
18 with
19 dynamically
20 programming
21 level
22 significant
23 the
24 structured
25 collected
26 purpose
27 is
28 typed
29 supports
30 indentation
31 it
32 oriented
33 object
34 and
35 interpreted